---
import Event from "../components/Event.astro";
import Layout from "../layouts/Layout.astro";
import { events } from "../data/events.json";
---

<Layout>
    <section class="flex-1 size-full flex flex-col items-center md:py-16 py-10 px-5 md:px-20">
        <div class="flex flex-col gap-4 items-center max-w-[1200px]">
            <h2 class="md:text-3xl text-2xl font-semibold text-title">Eventos</h2>
            <p class="md:text-lg text-text-secondary text-balance text-center">Descubre los eventos que tenemos preparados en Bruma donde le gastronomía, ambiente y detalle se combinan para crear experiencias únicas</p>
            <span class="flex flex-col gap-10 mt-4">
                {events.map((event, index) => (
                    <Event
                        imgSrc={event.imgSrc}
                        name={event.name}
                        date={event.dateDescription}
                        description={event.description}
                        reserveHref={`/reservations/event/${event.slug}`}
                        rotate={index % 2 === 0}
                        eventId={event.slug}
                    />
                ))}
            </span>
        </div>
    </section>
</Layout>