---
const { imgSrc, iconSrc, title, description, href } = Astro.props;
---

<span class="relative size-full rounded-2xl overflow-hidden">
    <img src={imgSrc} alt={title} />
    <div class="absolute inset-0 p-6 gap-3 flex flex-col justify-center items-center backdrop-brightness-50">
        <img class="size-16" src={iconSrc} alt="Bruma" />
        <h3 class="text-white text-xl font-semibold uppercase">{title}</h3>
        <p class="text-white text-balance text-center">{description}</p>
        <a href={href} class="bg-button hover:bg-button-hover transition-colors cursor-pointer duration-200 text-white font-semibold py-2 px-4 rounded">Ver la carta</a>
    </div>
</span>