---
import EventCard from "../components/EventCard.astro";
import events from "../data/events.json";
---
<section class="size-full px-5 md:px-20 py-5 md:py-10 flex flex-col justify-center items-center gap-10 bg-background-secondary">
    <div class="flex flex-col items-center gap-4">
        <h2 class="md:text-3xl text-2xl text-left w-full md:w-auto font-semibold text-title">Eventos Especiales</h2>
        <p class="text-text-secondary text-balance">Para cada ocasión especial, creamos momentos que se disfrutan con todos los sentidos</p>
    </div>
    <span class="grid grid-cols-1 md:grid-cols-3 gap-4">
        {
            events.events.map((event) => (
                <EventCard
                    imageSrc={event.imgSrc}
                    title={event.name}
                    date={event.dateDescription}
                    description={event.shortDescription}
                    eventLink={`/events/#${event.slug}`}
                />
            ))
        }
    </span>
</section>